USE [master]
GO
/****** Object:  Database [king21_database]    Script Date: 8/10/2013 7:45:51 AM ******/
CREATE DATABASE [king21_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'king21_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\king21_database.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'king21_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\king21_database_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [king21_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [king21_database]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 8/10/2013 7:45:51 AM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[SMS_Accessibilities]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Accessibilities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role] [varchar](10) NULL,
	[access] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_ActivationCode]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_ActivationCode](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PINCode] [varchar](20) NOT NULL,
	[Status] [bit] NOT NULL,
	[SerialNo] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Bayanihan]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Bayanihan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[refNo] [varchar](50) NULL,
	[bayanihan_ref] [varchar](50) NULL,
	[donator] [varchar](11) NULL,
	[combination] [varchar](10) NULL,
	[donation] [decimal](18, 2) NULL,
	[date_danated] [datetime] NULL,
	[status] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_BayanihanSum]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_BayanihanSum](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[bayanihan_ref] [varchar](50) NULL,
	[played] [int] NULL,
	[donation] [decimal](18, 2) NULL,
	[combination_no_win] [varchar](10) NULL,
	[total_win] [int] NULL,
	[total_win_amount] [decimal](18, 2) NULL,
	[open_started] [datetime] NULL,
	[closing_time] [datetime] NULL,
	[status] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Cache]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Cache](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](11) NULL,
	[Message] [varchar](200) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_DevelopersAccount]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_DevelopersAccount](
	[dev_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[access_token] [varchar](max) NOT NULL,
	[secret_id] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Dummy]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Dummy](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Reference_No] [varchar](30) NULL,
	[Group_Name] [varchar](50) NULL,
	[Account_No] [varchar](20) NULL,
	[Family_Name] [varchar](20) NULL,
	[First_Name] [varchar](20) NULL,
	[Town] [varchar](30) NULL,
	[Province] [varchar](30) NULL,
	[Sponsor_ID] [varchar](11) NULL,
	[CP_Number] [varchar](11) NULL,
	[Section_A] [varchar](10) NULL,
	[Section_B] [varchar](10) NULL,
	[DateReg] [varchar](50) NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_eMoney]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_eMoney](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](14) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_ImportFromExcel]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_ImportFromExcel](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Salutaion] [varchar](50) NULL,
	[Occupation] [varchar](50) NULL,
	[Fullname] [varchar](50) NULL,
	[Contact] [varchar](11) NULL,
	[BodyMessage] [varchar](160) NULL,
	[SecondaryMessage] [varchar](160) NULL,
	[wSender] [varchar](50) NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Inbox]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Inbox](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](13) NULL,
	[Message] [varchar](200) NULL,
	[DateReceived] [datetime] NULL,
	[MonthOf] [int] NULL,
	[YearOf] [bigint] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Keywords]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMS_Keywords](
	[ID] [nchar](10) NULL,
	[Keyword] [nchar](10) NULL,
	[Description] [nchar](10) NULL,
	[Status] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SMS_Members]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Members](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReferenceNo] [varchar](max) NULL,
	[Group_Name] [varchar](100) NULL,
	[Account_Number] [varchar](14) NULL,
	[Family_Name] [varchar](50) NULL,
	[First_Name] [varchar](50) NULL,
	[Town] [varchar](50) NULL,
	[Province] [varchar](50) NULL,
	[Sponsor_ID] [varchar](11) NULL,
	[CP_Number] [varchar](11) NULL,
	[Section_A] [smallint] NULL,
	[Section_B] [smallint] NULL,
	[Pin_Code] [varchar](10) NULL,
	[DateReg] [datetime] NULL,
	[Status] [bit] NULL,
	[monthOf] [int] NULL,
	[yearOf] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Members_2]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Members_2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReferenceNo] [varchar](11) NULL,
	[Fullname] [varchar](50) NULL,
	[Address] [varchar](300) NULL,
	[Age] [int] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_PinCode]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_PinCode](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[regCode] [varchar](30) NULL,
	[pinCode] [varchar](10) NULL,
	[serialCode] [varchar](20) NULL,
	[charCode] [varchar](5) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_QueuedBox]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_QueuedBox](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](11) NULL,
	[Message] [varchar](max) NULL,
	[Network] [smallint] NULL,
	[Status] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_ReceivedMsg]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_ReceivedMsg](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Sender] [varchar](13) NULL,
	[Message] [varchar](200) NULL,
	[DateReceived] [datetime] NULL,
	[MonthOf] [int] NULL,
	[YearOf] [bigint] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_Reply]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_Reply](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tagged_ID] [varchar](20) NULL,
	[Message] [nvarchar](200) NULL,
	[Status] [varchar](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_SentItems]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_SentItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](11) NULL,
	[Message] [varchar](max) NULL,
	[DateTime] [datetime] NULL,
	[Status] [bit] NULL,
	[MonthOf] [int] NULL,
	[YearOf] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_TransferFundReport]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_TransferFundReport](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReferenceNo] [varchar](10) NULL,
	[Sender] [varchar](11) NULL,
	[Receiver] [varchar](11) NULL,
	[Amount] [decimal](18, 2) NULL,
	[DateTransfered] [datetime] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_User]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[admin] [varchar](20) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[date_added] [datetime] NOT NULL,
	[added_by] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SMS_WeatherForecast]    Script Date: 8/10/2013 7:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SMS_WeatherForecast](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[city] [varchar](100) NULL,
	[weather_code] [varchar](20) NULL,
	[selected] [bit] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SMS_Accessibilities] ON 

INSERT [dbo].[SMS_Accessibilities] ([id], [role], [access]) VALUES (1, N'developer', N'users')
INSERT [dbo].[SMS_Accessibilities] ([id], [role], [access]) VALUES (2, N'admin', N'users')
SET IDENTITY_INSERT [dbo].[SMS_Accessibilities] OFF
SET IDENTITY_INSERT [dbo].[SMS_ActivationCode] ON 

INSERT [dbo].[SMS_ActivationCode] ([ID], [PINCode], [Status], [SerialNo]) VALUES (1, N'36735', 1, N'00043151')
INSERT [dbo].[SMS_ActivationCode] ([ID], [PINCode], [Status], [SerialNo]) VALUES (2, N'16339', 1, N'00043152')
INSERT [dbo].[SMS_ActivationCode] ([ID], [PINCode], [Status], [SerialNo]) VALUES (3, N'23555', 1, N'00043153')
GO
SET IDENTITY_INSERT [dbo].[SMS_ActivationCode] OFF
SET IDENTITY_INSERT [dbo].[SMS_Bayanihan] ON 

INSERT [dbo].[SMS_Bayanihan] ([Id], [refNo], [bayanihan_ref], [donator], [combination], [donation], [date_danated], [status]) VALUES (1, N'549DC42', N'BD7172013', N'09173254062', N'21-21', CAST(10.00 AS Decimal(18, 2)), CAST(0x0000A1FE01616970 AS DateTime), N'Winner')
INSERT [dbo].[SMS_Bayanihan] ([Id], [refNo], [bayanihan_ref], [donator], [combination], [donation], [date_danated], [status]) VALUES (2, N'6U2441H', N'BD7172013', N'09474746282', N'25-41', CAST(20.00 AS Decimal(18, 2)), CAST(0x0000A1FE0168D2B4 AS DateTime), N'Active')
INSERT [dbo].[SMS_Bayanihan] ([Id], [refNo], [bayanihan_ref], [donator], [combination], [donation], [date_danated], [status]) VALUES (3, N'P4PX619', N'BD7182013', N'09173254062', N'1-21', CAST(34.00 AS Decimal(18, 2)), CAST(0x0000A1FF00E05D1C AS DateTime), N'Active')
SET IDENTITY_INSERT [dbo].[SMS_Bayanihan] OFF
SET IDENTITY_INSERT [dbo].[SMS_BayanihanSum] ON 

INSERT [dbo].[SMS_BayanihanSum] ([Id], [bayanihan_ref], [played], [donation], [combination_no_win], [total_win], [total_win_amount], [open_started], [closing_time], [status]) VALUES (3, N'BD7172013', 2, CAST(30.00 AS Decimal(18, 2)), N'21-21', 1, CAST(10.00 AS Decimal(18, 2)), CAST(0x0000A1FE018B3BB0 AS DateTime), CAST(0x0000A1FE017AC0F0 AS DateTime), N'Closed')
INSERT [dbo].[SMS_BayanihanSum] ([Id], [bayanihan_ref], [played], [donation], [combination_no_win], [total_win], [total_win_amount], [open_started], [closing_time], [status]) VALUES (4, N'BD7182013', 2, CAST(84.00 AS Decimal(18, 2)), N'25-41', 1, CAST(50.00 AS Decimal(18, 2)), CAST(0x0000A1FF018B3BB0 AS DateTime), CAST(0x0000A1FF017AC0F0 AS DateTime), N'Closed')
INSERT [dbo].[SMS_BayanihanSum] ([Id], [bayanihan_ref], [played], [donation], [combination_no_win], [total_win], [total_win_amount], [open_started], [closing_time], [status]) VALUES (6, N'BD7292013', 7, CAST(33.00 AS Decimal(18, 2)), N'-', 0, CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A20A018B3BB0 AS DateTime), CAST(0x0000A20A0128A180 AS DateTime), N'Closed')
SET IDENTITY_INSERT [dbo].[SMS_BayanihanSum] OFF
SET IDENTITY_INSERT [dbo].[SMS_Cache] ON 

INSERT [dbo].[SMS_Cache] ([Id], [Number], [Message], [Status]) VALUES (5, N'09173254062', N'help', 0)
SET IDENTITY_INSERT [dbo].[SMS_Cache] OFF
SET IDENTITY_INSERT [dbo].[SMS_DevelopersAccount] ON 

INSERT [dbo].[SMS_DevelopersAccount] ([dev_id], [email], [password], [access_token], [secret_id]) VALUES (1, N'king.a', N'JW+Z4IjJY+SJnWWNHpcQug==', N'401ef3e8-c04f-44c4-9ce8-8fd83e4ecece', N'7a6078e1-b4a3-4d38-affe-3e12b52bad0c')
SET IDENTITY_INSERT [dbo].[SMS_DevelopersAccount] OFF
SET IDENTITY_INSERT [dbo].[SMS_Dummy] ON 

INSERT [dbo].[SMS_Dummy] ([ID], [Reference_No], [Group_Name], [Account_No], [Family_Name], [First_Name], [Town], [Province], [Sponsor_ID], [CP_Number], [Section_A], [Section_B], [DateReg], [Status]) VALUES (18, N'52188', N'TRIGEN', N'0918-298-8888', N'RAFANAN', N'EFREN', N'Quezon', N'Ilocos', N'9182988888', N'9182988888', N'0', N'0', N'11/29/2010 12:00:00 AM', N'True')
SET IDENTITY_INSERT [dbo].[SMS_Dummy] OFF
SET IDENTITY_INSERT [dbo].[SMS_eMoney] ON 

INSERT [dbo].[SMS_eMoney] ([ID], [Account], [Amount], [Status]) VALUES (10, N'09173254062', CAST(9892.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[SMS_eMoney] ([ID], [Account], [Amount], [Status]) VALUES (15, N'09164290916', CAST(82.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[SMS_eMoney] OFF
SET IDENTITY_INSERT [dbo].[SMS_Inbox] ON 

INSERT [dbo].[SMS_Inbox] ([Id], [Sender], [Message], [DateReceived], [MonthOf], [YearOf], [Status]) VALUES (431, N'09173254062', N'Reg king/p/t/0/12345', CAST(0x0000A1FB01675A88 AS DateTime), 7, 2013, 0)
INSERT [dbo].[SMS_Inbox] ([Id], [Sender], [Message], [DateReceived], [MonthOf], [YearOf], [Status]) VALUES (432, N'09164290916', N'Bal', CAST(0x0000A1FB0168C6FC AS DateTime), 7, 2013, 0)
INSERT [dbo].[SMS_Inbox] ([Id], [Sender], [Message], [DateReceived], [MonthOf], [YearOf], [Status]) VALUES (433, N'SMARTMoney', N'15Jul 0935: All-Text 20 is reloaded to your mobile no. by 09474746282. Please check your balance. This message is FREE. Ref:060184317949', CAST(0x0000A1FC009E1A38 AS DateTime), 7, 2013, 0)
GO
SET IDENTITY_INSERT [dbo].[SMS_Inbox] OFF
SET IDENTITY_INSERT [dbo].[SMS_Members] ON 

INSERT [dbo].[SMS_Members] ([ID], [ReferenceNo], [Group_Name], [Account_Number], [Family_Name], [First_Name], [Town], [Province], [Sponsor_ID], [CP_Number], [Section_A], [Section_B], [Pin_Code], [DateReg], [Status], [monthOf], [yearOf]) VALUES (1, N'CIA700612013', N'BAYANIHAN', N'09173254062', N'AQUINO', N'KING PAULO', N'OLONGAPO CITY', NULL, N'0', N'09173254062', NULL, NULL, NULL, CAST(0x0000A20900A04484 AS DateTime), 1, 7, 2013)
INSERT [dbo].[SMS_Members] ([ID], [ReferenceNo], [Group_Name], [Account_Number], [Family_Name], [First_Name], [Town], [Province], [Sponsor_ID], [CP_Number], [Section_A], [Section_B], [Pin_Code], [DateReg], [Status], [monthOf], [yearOf]) VALUES (2, N'CIA403222013', N'BAYANIHAN', N'09164290916', N'RAFANAN', N'EFREN', N'VIGAN CITY', NULL, N'0', N'09164290916', NULL, NULL, NULL, CAST(0x0000A20900A23564 AS DateTime), 1, 7, 2013)
SET IDENTITY_INSERT [dbo].[SMS_Members] OFF
SET IDENTITY_INSERT [dbo].[SMS_Members_2] ON 

INSERT [dbo].[SMS_Members_2] ([Id], [ReferenceNo], [Fullname], [Address], [Age], [Status]) VALUES (5, N'09173254062', N'jun', N'ilocos', 35, 1)
INSERT [dbo].[SMS_Members_2] ([Id], [ReferenceNo], [Fullname], [Address], [Age], [Status]) VALUES (7, N'09173254062', N'jun', N'ilocos', 35, 1)
INSERT [dbo].[SMS_Members_2] ([Id], [ReferenceNo], [Fullname], [Address], [Age], [Status]) VALUES (8, N'09164290916', N'efren rafanan', N'vigan city', 52, 1)
SET IDENTITY_INSERT [dbo].[SMS_Members_2] OFF
SET IDENTITY_INSERT [dbo].[SMS_Reply] ON 

INSERT [dbo].[SMS_Reply] ([ID], [Tagged_ID], [Message], [Status]) VALUES (1, N'REG', N'Welcome to BAYANIHAN-[GROUP] you are now a registered member, you are credited [AMOUNT] in your Acct. #[ACCOUNT]. Let us promote the BAYANIHAN SPIRIT and help build a better Philippines.', N'OK')
INSERT [dbo].[SMS_Reply] ([ID], [Tagged_ID], [Message], [Status]) VALUES (2, N'REG', N'Oops, sorry invalid pin code, please contact your provider...', N'NOK')
INSERT [dbo].[SMS_Reply] ([ID], [Tagged_ID], [Message], [Status]) VALUES (3, N'BAL', N'Good Day! Your available total balance is [AMOUNT] as of ', N'OK')
SET IDENTITY_INSERT [dbo].[SMS_Reply] OFF
SET IDENTITY_INSERT [dbo].[SMS_SentItems] ON 

INSERT [dbo].[SMS_SentItems] ([ID], [Number], [Message], [DateTime], [Status], [MonthOf], [YearOf]) VALUES (1466, N'09173254062', N'h0k25BV389ysOpyKd00vd+hgNw4aTE7XrXFZQfTEvoT7QXZeaeFovkVI1tHD8Ndj2TYNWkdqzvsA6KnpDir80yBE7WvfscRDPGSaoiB4zj4=', CAST(0x0000A1FB01624F20 AS DateTime), 1, 7, 2013)
INSERT [dbo].[SMS_SentItems] ([ID], [Number], [Message], [DateTime], [Status], [MonthOf], [YearOf]) VALUES (1467, N'09173254062', N'h0k25BV389ysOpyKd00vd+hgNw4aTE7XrXFZQfTEvoT7QXZeaeFovkVI1tHD8Ndj2TYNWkdqzvsA6KnpDir80yBE7WvfscRDPGSaoiB4zj4=', CAST(0x0000A1FB01629570 AS DateTime), 1, 7, 2013)
INSERT [dbo].[SMS_SentItems] ([ID], [Number], [Message], [DateTime], [Status], [MonthOf], [YearOf]) VALUES (1468, N'09173254062', N'6atBqAWmd1ECEnA1Kx6BVYGAsi1tYTySTjtCcBx+JOBDWA12FSAuDkoUBoFeXhTfdw3DXA8xIXtQTPbeSOCBACXcp55jub7i8JA71pZm/exWUuYI2mvw3AEfW+nzVKeK', CAST(0x0000A1FB01678710 AS DateTime), 1, 7, 2013)
SET IDENTITY_INSERT [dbo].[SMS_SentItems] OFF
SET IDENTITY_INSERT [dbo].[SMS_TransferFundReport] ON 

INSERT [dbo].[SMS_TransferFundReport] ([Id], [ReferenceNo], [Sender], [Receiver], [Amount], [DateTransfered], [Status]) VALUES (92, N'1FENVX', N'09164290916', N'09173254062', CAST(5.00 AS Decimal(18, 2)), CAST(0x0000A1FC00A5D458 AS DateTime), 1)
INSERT [dbo].[SMS_TransferFundReport] ([Id], [ReferenceNo], [Sender], [Receiver], [Amount], [DateTransfered], [Status]) VALUES (93, N'87RVDC', N'09173254062', N'09474746282', CAST(5.00 AS Decimal(18, 2)), CAST(0x0000A1FC00A763F4 AS DateTime), 1)
INSERT [dbo].[SMS_TransferFundReport] ([Id], [ReferenceNo], [Sender], [Receiver], [Amount], [DateTransfered], [Status]) VALUES (94, N'K9TC39', N'09173254062', N'09474746282', CAST(23.00 AS Decimal(18, 2)), CAST(0x0000A1FD00B57E80 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[SMS_TransferFundReport] OFF
SET IDENTITY_INSERT [dbo].[SMS_User] ON 

INSERT [dbo].[SMS_User] ([ID], [admin], [password], [role], [email], [date_added], [added_by]) VALUES (1, N'admin', N'JW+Z4IjJY+SJnWWNHpcQug==', N'admin', N'kingpauloaquino@mail.com', CAST(0x0000A1FB00000000 AS DateTime), N'king.a')
INSERT [dbo].[SMS_User] ([ID], [admin], [password], [role], [email], [date_added], [added_by]) VALUES (5, N'king.a', N'JW+Z4IjJY+SJnWWNHpcQug==', N'developer', N'kingpauloaquino@mail.com', CAST(0x0000A1FB00000000 AS DateTime), N'king.a')
INSERT [dbo].[SMS_User] ([ID], [admin], [password], [role], [email], [date_added], [added_by]) VALUES (6, N'efren', N'cfEmGTg9+gI1Ekxv9QW8lQ==', N'admin', N'ears989@yahoo.com', CAST(0x0000A208015230F4 AS DateTime), N'king.a')
SET IDENTITY_INSERT [dbo].[SMS_User] OFF
SET IDENTITY_INSERT [dbo].[SMS_WeatherForecast] ON 

INSERT [dbo].[SMS_WeatherForecast] ([Id], [city], [weather_code], [selected]) VALUES (1, N'Manila', N'1199477', 1)
INSERT [dbo].[SMS_WeatherForecast] ([Id], [city], [weather_code], [selected]) VALUES (2, N'Olongapo City', N'1199575', 0)
INSERT [dbo].[SMS_WeatherForecast] ([Id], [city], [weather_code], [selected]) VALUES (3, N'Quezon City', N'1199682', 0)
SET IDENTITY_INSERT [dbo].[SMS_WeatherForecast] OFF
USE [master]
GO
